/* General styles */

.oswald-title {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

body {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #faebd7;
    color: #000000;
}

h1 {
    text-align: center;
    font-size: 40px;
    
}

h3 {
    text-align: center;
}

p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;

}

/* Header */

.header {
        background-color: #faebd7;
        padding: 10px;
        text-align: left;
    }

    .header img{
        width: 80px;
    }
    

/* Navigation Bar */

.navbar {
    background-color: #7a0000;
    padding: 10px;
    text-align: center;
}

.navbar a {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: 500;
}

.navbar a:hover {
    text-decoration: underline;
}

/* MAIN PAGE */

.profile-section {
    margin-bottom: 20px;
    display: flex; 
    gap: 10px;
}
.left-column {
    flex: 1; 
    min-width: 200px;
    text-align: justify;
}
.right-column {
    flex: 1;
    text-align: justify;
}

.bodyInfo {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background-color: #ffffff;
    padding: 50px;
}

.who-am-i {
padding-left: 500px;
padding-right: 500px;
}

.me {
    text-align: justify;
}
.infoLabel {
    color: #7a0000;
    font-weight: bold;
}
.infoValue {
    color: #000000;
}

.cups img {
    width: 100%;
    max-width: 280px;
}

/* CONTACT PAGE */

/* Contact me background */

.contactMe {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background-color: #ffffff;
    padding: 50px;
}

/* Label of the contact me */
        
.contact-form label {
            display: block;
            margin: 10px 0 5px;
            color: #000000;
 }

 /* Colour Contact me border */

.contact-form input, .contact-form textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #7a0000;
            border-radius: 4px;
}

/* Button to send the message */

.contact-form button {
            background-color: #7a0000;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
}
.contact-form button:hover {
            background-color: #b10202;
}

/* SOCIAL */

.feed-section {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

.small-feed {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    color: #b10202;
}

.profile-section img {
    width: 100%;
    max-width: 50px;
    height: auto;
    border-radius: 10px;
    flex-shrink: 0;
}
