/* General styles */

.oswald-title {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

body {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #faebd7;
    color: #000000;
}

h2 {
    text-align: center;
}

h3 {
    text-align: left;
}

p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;

}

/* Header */

.header {
    display: flex;
    background-color: #faebd7;
    padding: 10px;
    text-align: left;
}


.header a {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: black;
    text-decoration: none;
    margin: 0px;
    font-size: auto;
}

.header a:hover {
    text-decoration: underline;
}

.header img{
        width: 80px;
}
    

/* Navigation Bar */

.navbar {
    background-color: #7a0000;
    padding: 10px;
    text-align: center;
}

.navbar a {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: 500;
}

.navbar a:hover {
    text-decoration: underline;
}

/* MAIN PAGE */

/* Body */

/* Main Body */
.bodyInfo {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background-color: #ffffff;
    padding: 50px;
}

/* Flex box */

.profile-section {
    margin-bottom: 20px;
    display: flex; 
    gap: 10px;
    justify-content: center;
}

.left-column {
    flex: 1; 
    text-align: right;
}

.right-column {
    flex: 3;
    text-align: justify;
}


.infoLabel {
    color: #7a0000;
    font-weight: bold;
}
.infoValue {
    color: #000000;
}

/* Cups Images */

.cups img {
    width: 100%;
    max-width: 200px;
}

/* CONTACT PAGE */

/* Contact me background */

.contactMe {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background-color: #ffffff;
    padding: 50px;
}

/* Label of the contact me */
        
.contact-form label {
            display: block;
            margin: 10px 0 5px;
            color: #000000;
 }

 /* Colour Contact me border */

.contact-form input, .contact-form textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #7a0000;
            border-radius: 4px;
}

/* Button to send the message */

.contact-form button {
            background-color: #7a0000;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
}
.contact-form button:hover {
            background-color: #b10202;
}

/* SOCIAL */

.small-feed {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    color: #b10202;
}

.profile-section img {
    width: 100%;
    max-width: 50px;
    height: auto;
}
